@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*text*/
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
}
.sub-heading {
  font-family: 'Raleway', sans-serif;
}
.books{
   background-color: red;
   position: center;
   position: absolute;
 }

.edit_button{
    margin: 30px;
}
.tabs{
    position: center;
    position: relative;
    margin-bottom: 15px;
}


/*used to make footer stay at bottom*/
/*----> stackoverflow provided ideas around how this would work<----*/

html, body{ height:100%; margin:0; }

footer{ height:210px; }

body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

