@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*.coverIMG {*/
/*  width: 100%;*/
/*  max-width: 10px;*/
/*  height: auto;*/
/*  position: center;*/
/*}*/

.books{
   background-color: red;
   position: center;
   position: absolute;
 }

.edit_button{
    margin: 30px;
}
.tabs{
    position: center;
    position: relative;
}


/*text*/
h1{
  font-family: 'Raleway', sans-serif;
}
.sub-heading {
  font-family: 'Raleway', sans-serif;
}