<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- taken from google fonts, materilaize and cdnjs -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}" type="text/css" />

    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_books')}}" class="brand-logo center">Home</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="{{url_for('add_book')}}">Review a book!</a></li>


            </div>
        </nav>
                        <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field" "center">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
    </header>



    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tabs').tabs();
            $('#Review').val('New Text');
            M.textareaAutoResize($('#Review'));
            $('.sidenav').sidenav();
        });
    </script>
    </div>


</body>

<div class="footer">
    <p>ddgf</p>
    <p>3434</p>
    <p>style test</p>

</html>
