<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- taken from google fonts, materilaize and cdnjs -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}" type="text/css" />

    <title>Document</title>
</head>

<body>
    <header>
          <!-- used materilaize framework -->
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="{{url_for('get_books')}}" class="brand-logo center">Home</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="{{url_for('add_book')}}">Review a book!</a></li>
                </ul>
            </div>
        </nav>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <form action="{{ url_for('search') }}" method="GET">
                    <div class="input-field">
                        <input id="search" type="search" name="Title" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <div class="container">{% block content %} {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.tabs').tabs();
                $('#Review').val('New Text');
                M.textareaAutoResize($('#Review'));
                $('.sidenav').sidenav();
            });
        </script>
    </div>
    </div>
</body>

<!-- used materilaize framework -->
<footer class="page-footer teal lighten-2" >
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Book Review</h5>
                <p class="grey-text text-lighten-4">A website that allows users to add books and review them, users can comment on the reivew.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Partners</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"> Non working link  that could be used to link to partner websites</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
        </div>
    </div>
</footer>

</html>
