{% extends 'base.html' %} {% block content %}

<div class="row">
    <ul>
        {% for book in books%}

        <!--{{book.upvotes}}-->
        <div class="col s12">
            <li>{{book.Title}}
                <li>{{book.Author}}</li>
                <li>{{book.Genre}}</li>
                <li>{{book.Year}}</li>
                <li>{{book.Image_URL}}</li>
                <li>{{book.Amazon}}</li>
                <li>{{book.Review}}</li>
            </li>
        </div>


        </li>
        {% endfor %}
    </ul>
    
    <a href="{{url_for('add_book')}}"> add a book</a>
</div>

{% endblock %}
