{% extends 'base.html' %} {block content%}

<h2> Edit Book</h2>
<div class="row">
    <form action="{{ url_for('update_book') }}" method="POST" class="col s12">

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="Title" name="Title" type="text" class="validate" value="{{book.Title}}">
                <label for="icon_prefix">Book Title</label>
            </div>
        </div>
        
<!-- -- do i need this?       -->
<!--{% for cat in categories %}-->
<!--{%if %}-->


{%endfor%}

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <textarea name="Author" id="Author" class="materialize-textarea">value={{book.Aurthor}}</textarea>
                <label for="icon_telephone">Author</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <textarea name="Genre" id="Genre" class="materialize-textarea">value="{{book.Genre}}"</textarea>
                <label for="icon_telephone">Genre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <textarea name="Year" id="Year" class="materialize-textarea">value={{book.Year}}</textarea>
                <label for="icon_telephone">Year of Publication</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <textarea name="Image_URL" id="Image_URL" class="materialize-textarea">value={{book.Image_URL}}</textarea>
                <label for="icon_telephone">Link to cover image</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <textarea name="Amazon" id="Amazon" class="materialize-textarea">value={{book.Amazon}}</textarea>
                <label for="icon_telephone">Purchase</label>
            </div>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea">value={{book.Review}}</textarea>
                        <label for="textarea1">Review</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Book
                <i class="material-icons right">send</i>
            </button>
        </div>


    </form>
</div>

{% end block %}
