{% extends 'base.html' %} {% block content %}

<h2> Change {{book.Title}}</h2>
<div class="row">
    <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="Title" name="Title" type="text" class="validate" value="{{book.Title}}">
                <label for="icon_prefix">Book Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="Author" name="Author" type="text" class="validate" value="{{book.Author}}">
                <label for="icon_telephone">Author</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input name="Genre" id="Genre" type="text" class="materialize-textarea" value="{{book.Genre}}">
                <label for="icon_telephone">Genre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input name="Year" id="Year" type="text" class="materialize-textarea" value="{{book.Year}}">
                <label for="icon_telephone">Year of Publication</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input name="Image_URL" id="Image_URL" type="text" class="materialize-textarea" value="{{book.Image_URL}}">
                <label for="icon_telephone">Link to cover image</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input name="Amazon" id="Amazon" type="text" class="materialize-textarea" value="{{book.Amazon}}">
                <label for="icon_telephone">Purchase</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input name="Review" id="Review" type="text" class="materialize-textarea" value="{{book.Review}}">
                <label for="icon_telephone">Review</label>
            </div>
        </div>

        <div class="row col s6">
            <button class="btn waves-effect waves-light" type="submit" name="action">Confirm Changes
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

    <div class="row col s6">
        <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Delete entry
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{% endblock %}
